body {
    margin-top: 200px;
    margin-right: 10%;
    margin-left: 10%;
}
button {
    cursor: pointer;
}
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#field {
    border: 3px solid black;
    border-radius: 10px;
    min-width: 99%;
    min-height: 5vh;
}
#clear {
    font-size: 2rem;
    border-radius: 100px;
    min-width: 100%;
    min-height: 10vh;
}
main button {
    font-size: 2rem;
    border-radius: 100px;
    min-width: 10vh;
    min-height: 10vh;
}

